{% extends "index.html" %}

{% block content_block %}  
        <div class="row">
          <div class="col-md-3">
            <div class="card card-widget widget-user-2">
              <div class="widget-user-header bg-info">
                <h5 class="widget-user-desc">Daily Finance</h5>
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      No of Accounts <span class="float-right badge bg-primary">{{df.accounts}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Invested <span class="float-right badge bg-info">{{df.invested}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Colleted <span class="float-right badge bg-info">{{df.collected}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Outstanding <span class="float-right badge bg-info">{{df.outstanding}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Interest  <span class="float-right badge bg-success">{{df.interest}}</span>
                    </a>
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="card card-widget widget-user-2">
              <div class="widget-user-header bg-info">
                <h5 class="widget-user-desc">Electric Loan</h5>
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      No of Accounts <span class="float-right badge bg-primary">{{el.accounts}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Invested <span class="float-right badge bg-info">{{el.invested}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Collected <span class="float-right badge bg-info">{{el.collected}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Outstanding <span class="float-right badge bg-info">{{el.outstanding}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Interest  <span class="float-right badge bg-success">{{el.interest}}</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>          



          <div class="col-md-3">
            <div class="card card-widget widget-user-2">
              <div class="widget-user-header bg-info">
                <h5 class="widget-user-desc">Monthly Finance</h5>
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      No of Accounts <span class="float-right badge bg-primary">{{mf.accounts}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Invested <span class="float-right badge bg-info">{{mf.invested}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Collected <span class="float-right badge bg-info">{{mf.collected}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Outstanding <span class="float-right badge bg-info">{{mf.outstanding}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Interest  <span class="float-right badge bg-success">{{mf.interest}}</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="card card-widget widget-user-2">
              <div class="widget-user-header bg-info">
                <h5 class="widget-user-desc">Over All</h5>
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      No of Accounts <span class="float-right badge bg-primary">{{overall.accounts}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Invested <span class="float-right badge bg-info">{{overall.invested}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Collected <span class="float-right badge bg-info">{{overall.collected}}</span>
                    </a>
                  </li>                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Outstanding <span class="float-right badge bg-info">{{overall.outstanding}}</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Interest  <span class="float-right badge bg-success">{{overall.interest}}</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>



        </div>

<div class="row">
	<div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Investment Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>

            </div>
	</div>


	<div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">profit Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>

            </div>
	</div>

</div>
{% endblock %}

{% block extraload %}
<script src="/static/plugins/chart.js/Chart.min.js"></script>


<script>
  $(function () {

    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
    var donutData        = {
      labels: [
          'Daily', 
          'EL', 
          'Monthly',

      ],
      datasets: [
        {
          data: ['{{df.invested}}','{{el.invested}}','{{mf.invested}}'],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12'],
        }
      ]
    }
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or doughnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions      
    })   
  })
</script>

<script>
  $(function () {

    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
    var donutData        = {
      labels: [
          'Daily', 
          'EL', 
          'Monthly',

      ],
      datasets: [
        {
          data: ['{{df.interest}}','{{el.interest}}','{{mf.interest}}'],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12'],
        }
      ]
    }
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart1').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or doughnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
      type: 'doughnut',
      data: pieData,
      options: pieOptions      
    })   
  })
</script>
{% endblock %}